extends layout

block layout-content
  button.signin.btn.btn-primary(onclick="location.href='./signin'") Accedi
  button.register.btn.btn-primary(onclick="location.href='./register'") Registrati
  button.menu.btn.btn-primary(onclick="location.href='./menu'") Menù