extends layout

block layout-content
  button.signin.btn.btn-danger(onclick="location.href='./signin'") Accedi
    i.bi-alarm
  button.register.btn.btn-danger(onclick="location.href='./register'") Registrati
  button.menu.btn.btn-danger(onclick="location.href='./menu'") Menù