body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html { 
  background: url(/images/backgroud_site.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button.register {float: right; margin: 5px;}
button.signin {float:right; margin: 5px}
a.cart {float:right; margin: 5px}
a.logout {float: right; margin:5px;}
